<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">
            <i class="fa fa-list"></i> Pedidos de cerdos
          </h1>
        </div>
  
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/Admin">Inicio</a></li>
            <li class="breadcrumb-item active">Pedidos de cerdos</li>
          </ol>
        </div>
      </div>
    </div>
  
    <section class="content">
      <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="card card-info">
                  <div class="card-header">
                    <h3 id="unir_texto" class="card-title"> Listado de pedidos</h3>
                  </div>
      
                  <div class="card-body">
                    <div class="row">
    
                      <div class="form-group col-lg-12 col-12">
 
                        <div class="form-group col-lg-12 col-12">
                  
                            <table id="tabla_pedidos_cerdos" class="table table-display table-hover responsive nowrap text-center" style="width: 100%" >
                            <thead>
                              <tr>  
                                <th>#</th> 
                                <th>Acci&oacute;n</th> 
                                <th>cliente</th>
                                <th>Fecha</th>
                                <th>N° pedido</th>
                                <th>Direccion</th> 
                                <th>Correo</th> 
                                <th>Total</th> 
                                <th>Estado</th> 
                              </tr>
                            </thead>

                            <tbody>


    
                            </tbody>
        
                            <tfoot>
                              <tr>  
                                <th>#</th> 
                                <th>Acci&oacute;n</th> 
                                <th>cliente</th>
                                <th>Fecha</th>
                                <th>N° pedido</th>
                                <th>Direccion</th> 
                                <th>Correo</th> 
                                <th>Total</th> 
                                <th>Estado</th> 
                              </tr>
                            </tfoot>
                          </table>

                          </div>
 
                        </div>
    
                    </div>
                  </div>
                </div>
            </div>
            
        </div>

    </section>
</div>
  
<script src="static/js/Ventas.js"></script> 

<script> Listado_pedidos_cerdos(); </script>

 