{% extends "Web/index.html" %}
 
{% block content %}

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('static/uploads/portada_cerdo.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Sobre
		</h2>
	</section>	

	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Nuestra historia
						</h3>

						<p class="stext-113 cl6 p-b-26">
							LA HACIENDA AMADA ANGÉLICA, está ubicada en el Balao - Naranjal -  Ecuador,  se inició el 20 de Enero del 2011, como una  pequeña granja familiar dedicada al engorde de lechones destinados al camal, en miras de crecer se implementó cerdas madres cuyo propósito es producir nuestros propios lechones y así obtener un mejor margen de utilidad, en junio del 2013, con una idea clara de ser más competitivos en un mercado exigente que demanda calidad considerando los costos de producción se decide adquirir genética porcina de las razas, Pietrain Alemán, Belga, Large White, Landrace, Duroc, conformando un núcleo genético que constantemente es renovando para garantizar la pureza de nuestros animales, es así que nos consolidamos en un centro genético, una vez cumplida nuestra meta.
						</p>

					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="https://scontent.fgye9-1.fna.fbcdn.net/v/t1.6435-9/45636468_1917297201724139_8822207905131397120_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=V1Lnpy3_WmMAX9yvU4i&_nc_ht=scontent.fgye9-1.fna&oh=00_AfBmF_JxYAYu6d0RsOxRJr2y9QCk83JOx2v_ay8SAqTGCQ&oe=63C2F794" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Nuestra misión
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Brindar un servicio satisfactorio que permita una producción eficiente cumpliendo las exigencias de los comerciantes y consumidores de obtener carne de la mejor calidad a bajos costos, a través de nuestros productos ayudándoles a llegar a los mercados más exigentes, siendo más competitivos.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Somos una Empresa joven que ha sabido afrontar los retos de un mercado inestable exigente, trabajamos día a día para conseguir la excelencia, contribuimos con nuestra experiencia, conocimientos, siempre pensando en el bienestar de nuestros porcicultores, de obtener una producción exitosa.
							</p>

							<span class="stext-111 cl8">
								- Amada Angélica
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="https://www.inforegion.pe/wp-content/uploads/2019/10/Minagri-proyecta-vacunar-mas-22-mil-cerdos-en-Ucayali.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	 
{% endblock %}