<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Cerdos</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="{{url_for('static', filename='Web/images/icons/favicon.png')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/vendor/bootstrap/css/bootstrap.min.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/fonts/iconic/css/material-design-iconic-font.min.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/fonts/linearicons-v1.0.0/icon-font.min.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/vendor/animate/animate.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/vendor/css-hamburgers/hamburgers.min.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/vendor/animsition/css/animsition.min.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/vendor/select2/select2.min.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/vendor/daterangepicker/daterangepicker.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/vendor/slick/slick.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/vendor/MagnificPopup/magnific-popup.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/vendor/perfect-scrollbar/perfect-scrollbar.css')}}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/css/util.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='Web/css/main.css')}}"
    />
    <!--===============================================================================================-->
  
    <!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
  
  </head>

  <body class="animsition">
    <!-- Header -->
    <header>
      <!-- Header desktop -->
      <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
          <div class="content-topbar flex-sb-m h-full container">
            <div class="left-top-bar"></div>

            <div class="right-top-bar flex-w h-full">
              <a href="/Login" class="flex-c-m trans-04 p-lr-25">
                <i class="fa fa-user"></i> - Login
              </a>
            </div>
          </div>
        </div>

        <div class="wrap-menu-desktop">
          <nav class="limiter-menu-desktop container">
            <!-- Logo desktop -->
            <a href="/" class="logo">
              <img  src="{{url_for('static', filename='uploads/cerdito.png')}}" alt="IMG-LOGO"
                alt="IMG-LOGO"
              />
            </a>

            <!-- Menu desktop -->
            <div class="menu-desktop">
              <ul class="main-menu">
                <li class="active-menu">
                  <a href="/">Inicio</a>
                </li>
                <li>
                  <a href="/nosotros">Nosotros</a>
                </li>
                <li>
                  <a href="/contacto">Contacto</a>
                </li>
                <li>
                  <a href="/carrito">Pedidos</a>
                </li>
              </ul>
            </div>

            <!-- Icon header 
                      <div class="wrap-icon-header flex-w flex-r-m">
  
                          <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
                              data-notify="2">
                              <i class="zmdi zmdi-shopping-cart"></i>
                          </div>
  
                      </div> -->
          </nav>
        </div>
      </div>

      <!-- Header Mobile -->
      <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
          <a href="/"><img  src="{{url_for('static', filename='uploads/cerdito.png')}}" alt="IMG-LOGO"
          /></a>
        </div>

        <!-- Icon header 
              <div class="wrap-icon-header flex-w flex-r-m m-r-15">
  
                  <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
                      data-notify="2">
                      <i class="zmdi zmdi-shopping-cart"></i>
                  </div>
              </div> -->

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </div>
      </div>

      <!-- Menu Mobile -->
      <div class="menu-mobile">
        <ul class="topbar-mobile">
          <li>
            <div class="left-top-bar">
              <div class="right-top-bar flex-w h-full">
                <a href="/Login" class="flex-c-m trans-04 p-lr-25">
                  <i class="fa fa-user"></i> - Login
                </a>
              </div>
            </div>
          </li>
        </ul>

        <ul class="main-menu-m">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="/nosotros">Nosotros</a>
          </li>
          <li>
            <a href="/contacto">Contacto</a>
          </li>  
          <li>
            <a href="/carrito">Pedidos</a>
          </li>
        </ul>
      </div>
    </header>

    {% block content %}

        
    {% endblock %}

    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
      <div class="container">
        <div class="p-t-10">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15945.112565091027!2d-79.62394669842533!3d-2.413825122735252!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb057fa2907819e47!2zMsKwMjQnNDkuOSJTIDc5wrAzNycyMC4yIlc!5e0!3m2!1ses-419!2sus!4v1671117693671!5m2!1ses-419!2sus"
            width="100%"
            height="200px"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>

          <p class="stext-107 cl6 txt-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            Todos los derechos reservados | HACIENDA AMADA
            <i class="fa fa-heart-o" aria-hidden="true"></i> ANGÉLICA
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </footer>

    <!-- Modal1 -->
    <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
      <div class="overlay-modal1 js-hide-modal1"></div>

      <div class="container">
        <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">

          <button class="how-pos3 hov3 trans-04 js-hide-modal1">
            <img
              src="{{url_for('static', filename='Web/images/icons/icon-close.png')}}"
              alt="CLOSE"
            />
          </button>

          <div class="row">
            <div class="col-md-6">
              <div class="p-l-25 p-r-30 p-lr-0-lg">
                <div class="wrap-slick3 flex-sb flex-w"> 

                  <div class="slick3 gallery-lb" id="unir_imagen">

                   
                                  
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="p-r-50 p-t-5 p-lr-0-lg">
                <h4 class="mtext-105 cl2 js-name-detail p-b-14" id="raza_cerdo"> 
                </h4>

                <span class="mtext-106 cl2" id="peso_cerdo"> </span>
                <br>
                <span class="mtext-106 cl2" id="sexo_cerdo"> </span>
                <br>
                <span class="mtext-106 cl2" id="etap_cerdo"> </span>

                <p class="stext-102 cl3 p-t-23" id="detalle_cerdo"> 
                </p>

                <div class="p-t-33" id="agregar_carrito">
              

                </div>
            
 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/vendor/animsition/js/animsition.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/vendor/bootstrap/js/popper.js')}}"></script>
    <script src="{{url_for('static', filename='Web/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/vendor/select2/select2.min.js')}}"></script>
    <script>
      $(".js-select2").each(function () {
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next(".dropDownSelect2"),
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/vendor/daterangepicker/moment.min.js')}}"></script>
    <script src="{{url_for('static', filename='Web/vendor/daterangepicker/daterangepicker.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/vendor/slick/slick.min.js')}}"></script>
    <script src="{{url_for('static', filename='Web/js/slick-custom.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/vendor/parallax100/parallax100.js')}}"></script>
    <script>
      $(".parallax100").parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/vendor/MagnificPopup/jquery.magnific-popup.min.js')}}"></script>
    <script>
      $(".gallery-lb").each(function () {
        // the containers for all your galleries
        $(this).magnificPopup({
          delegate: "a", // the selector for gallery item
          type: "image",
          gallery: {
            enabled: true,
          },
          mainClass: "mfp-fade",
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/vendor/isotope/isotope.pkgd.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/vendor/sweetalert/sweetalert.min.js')}}"></script>
    <script>
      $(".js-addwish-b2").on("click", function (e) {
        e.preventDefault();
      });

      $(".js-addwish-b2").each(function () {
        var nameProduct = $(this).parent().parent().find(".js-name-b2").html();
        $(this).on("click", function () {
          swal(nameProduct, "is added to wishlist !", "success");

          $(this).addClass("js-addedwish-b2");
          $(this).off("click");
        });
      });

      $(".js-addwish-detail").each(function () {
        var nameProduct = $(this)
          .parent()
          .parent()
          .parent()
          .find(".js-name-detail")
          .html();

        $(this).on("click", function () {
          swal(nameProduct, "is added to wishlist !", "success");

          $(this).addClass("js-addedwish-detail");
          $(this).off("click");
        });
      });

      /*---------------------------------------------*/

      $(".js-addcart-detail").each(function () {
        var nameProduct = $(this)
          .parent()
          .parent()
          .parent()
          .parent()
          .find(".js-name-detail")
          .html();
        $(this).on("click", function () {
          swal(nameProduct, "is added to cart !", "success");
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/vendor/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
    <script>
      $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on("resize", function () {
          ps.update();
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='Web/js/main.js')}}"></script>

    <script src="{{url_for('static', filename='js/system.js')}}"></script>

    <script src="{{url_for('static', filename='js/numero.min.js')}}"></script>
 
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>

    <script>
      var correo_pedido;
      $(document).ready(function(){
        Mostra_carrito();
      });

        /////////////////
      function soloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46";
        tecla_especial = false;
        for (var i in especiales) {
          if (key == especiales[i]) {
            tecla_especial = true;
            break;
          }
        }
        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
          return swal(
            "No se permiten numeros!!",
            "Solo se permiten letras",
            "warning"
          );
        }
      }

      function soloNumeros(e) {
        var key = window.event ? e.which : e.keyCode;
        if (key < 48 || key > 57) {
          return swal(
            "No se permiten letras!!",
            "Solo se permiten numeros",
            "warning"
          );
        }
      }

      $("#cedula_cli").validarCedulaEC({
        onValid: function() {
            $("#cedulla_obligg").html("");
            alertify.success('Cédula/Ruc correcto');
        },
        onInvalid: function() {
            $("#cedulla_obligg").html(" - Cédula/Ruc incorrecto")
            alertify.error('Cédula/Ruc incorrecto');
            $("#cedula_cli").val("");
            $("#cedula_cli").focus();
        }
      });

      $("#correo_cli").keyup(function() {
        if (this.value != "") {
            document.getElementById('correo_cli').addEventListener('input', function() {
                campo = event.target;
                //este codigo me da formato email
                email = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;

                if (email.test(campo.value)) { 
                    $("#correo_obligg").html("");
                    correo_pedido = true;
                } else {
                    $("#correo_obligg").html(" - Correo incorrecto");
                    correo_pedido = false;
                }
            });
        } else { 
            $("#correo_obligg").html("");
        }
      });
    </script>

  </body>
</html>
