{% extends "Web/base.html" %} {% block content %}
	
	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table id="tabla_pediddo" class="table-shopping-cart">
								<thead>
									<tr class="table_head">
										<th hidden></th>
										<th class="column-1">Quitar</th>
										<th class="column-1">Cerdo</th>
										<th class="column-2"></th>
										<th class="column-3">Peso Kg</th>
										<th class="column-3">Precio Kg</th>
										<th class="column-5">Total</th>
									</tr>
								</thead>
								

								<tbody id="unir_detale_tabla">
									
								</tbody>

							</table>
						</div>

						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">							 
							<button id="vaciar_carrito" class="btn btn-danger"> Vaciar carrito </button> 				 
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							TOTAL DEL PEDIDO
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2" >
									Subtotal:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2" id="subtotal_unir"> 
								</span>
							</div>
						</div>

						<div class="flex-w flex-t bor12 p-t-15 p-b-30">

							<label>Nombre</label>  <span style="color: red" id="nombres_obligg"> </span>
							<input class="form-control" type="text" id="nombre_cli" placeholder="Ingrese nombres" onkeypress="return soloLetras(event)">							
							<br><br> 
							<label>Apellidos</label>  <span style="color: red" id="apellidos_obligg"> </span>
							<input class="form-control" type="text" id="apellido_cli" placeholder="Ingrese apellidos" onkeypress="return soloLetras(event)">
							<br><br> 
							<label>Correo</label>  <span style="color: red" id="correo_obligg"> </span>
							<input class="form-control" type="text" id="correo_cli" placeholder="Ingrese correo">
							<br><br> 
							<label>Teléfono</label> <span style="color: red" id="telefono_obligg"></span>
							<input class="form-control" type="text" maxlength="15" id="telefono_cli" placeholder="Ingrese telefono" onkeypress="return soloNumeros(event)">
							<br><br> 
							<label>Cédula/RUC</label> <span style="color: red" id="cedulla_obligg"></span>
							<input class="form-control" maxlength="13" type="text" id="cedula_cli" placeholder="Ingrese cédula/ruc" onkeypress="return soloNumeros(event)">
							<br><br> 
							<label>Dirección</label> <span style="color: red" id="direccion_obligg"></span>
							<input class="form-control" type="text" id="direccion_cli" placeholder="Ingrese dirección">

						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Iva 12%:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2" id="iva_unir"> 
								</span>
							</div>

							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2" id="full_total"> 
								</span>
							</div>
						</div>

						<button id="btn_procesar_pedido" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Procesar pedido
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>	
	
 {% endblock %}
