<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"><i class="fa fa-h-square"></i> Listado de vacunación</h1>
        </div>
  
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/Admin">Inicio</a></li>
            <li class="breadcrumb-item active">Listado de vacunación</li>
          </ol>
        </div>
      </div>
    </div>
  
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Listado de vacunación</h3>
              </div>
  
              <div class="card-body">
                <div class="row">

                  <div class="form-group col-lg-12 col-6 text-center">

                    <div class="row" style="border: solid 1px; border-radius: 10px;">

                     <div class="form-group col-lg-6 col-6 text-center">
                       <label for="galpon_cerdo">Seleccione galpón:</label>
                       <select class="form-control galpon_cerdo" style="width: 100%" id="galpon_cerdo">
                           <option value="0">--- Seleccione galpón ---</option>    
                           {% for datas in data.galpon %}
                           <option value="{{datas[0]}}">Número: {{datas[2]}} - Galpón: {{datas[1]}} - Fin: {{datas[4]}} </option>
                           {% endfor %}
                       </select> 
                     </div>    

                     <div class="form-group col-lg-6 col-6 text-center espiner_cerdo">
                         <label for="cerdo_galpon">Seleccione un cerdo:</label>
                         <select class="form-control cerdo_galpon" style="width: 100%" id="cerdo_galpon"> </select> 
                     </div>                                                                

                   </div>

                  <br>

                   <div class="select_cerdo_alimento form-group col-lg-12 col-12 text-center">
                  
                    <table id="tabla_seguimento_vacunas" class="table table-bordered table-hover nowrap" style="width:100%">
                      <thead>
                        <tr> 
                          <th>Fecha</th>
                          <th>Hora</th> 
                          <th>Semana</th> 
                          <th>Vacunas</th>
                          <th>Dosis</th> 
                        </tr>
                      </thead>

                      <tbody>

                      </tbody>
  
                      <tfoot>
                        <tr> 
                          <th>Fecha</th>
                          <th>Hora</th> 
                          <th>Semana</th> 
                          <th>Vacunas</th>
                          <th>Dosis</th> 
                        </tr>
                      </tfoot>
                      
                    </table>

                  </div>
                 </div>
                  

                </div>
              </div>
              <!-- /.card-body -->

            </div>
          </div>

      
        </div>
  
        <div class="row"></div>
      </div>
    </section>
  </div>
  
  <script src="static/js/vacuna_despara.js"></script>
  
  <script>

    var tabla_cardo_vacunacion;
    $(".galpon_cerdo").select2();
    $(".cerdo_galpon").select2();
    
    $("#galpon_cerdo").on("change", function(){
      var id = $(this).val();
      
      if(id == 0){
        return false;
      }

      $(".espiner_cerdo").LoadingOverlay("show");
      $.ajax({
        url: "/galpon/traer_cerdo_dentro_galpon",
          type: "POST",
          data: {
              id: id
          },
      }).done(function(data) { 
          $("#cerdo_galpon").empty();
          var cadena = "<option value='0'>--- Seleccione cerdo ---</option>";
          if (data.length > 0) {
            $(".espiner_cerdo").LoadingOverlay("hide");
              //bucle para extraer los datos del rol
              for (var i = 0; i < data.length; i++) {
                  cadena += "<option value='" + data[i][1] + "'> " + data[i][2] + " - " + data[i][4] + " - " + data[i][5] + " - " + data[i][6] + " Kg </option>";
              }
              //aqui concadenamos al id del select
              $("#cerdo_galpon").html(cadena);
          } else {
              $(".espiner_cerdo").LoadingOverlay("hide");
              cadena += "<option value='0'>No hay cerdo</option>";
              $("#cerdo_galpon").html(cadena); 
          }
      });
    });

    $("#cerdo_galpon").on("change", function(){
      var id = $(this).val();
      
      if(id == 0){
        return false;
      }

      tabla_cardo_vacunacion = $("#tabla_seguimento_vacunas").DataTable({
        ordering: true,
        paging: true,
        aProcessing: true,
        aServerSide: true,
        searching: { regex: true },
        lengthMenu: [
          [10, 25, 50, 100, -1],
          [10, 25, 50, 100, "All"],
        ],
        pageLength: 10,
        destroy: true,
        async: false,
        processing: true,
    
        ajax: {
          url: "/alimento/listar_vacunasa_cerdo_seguimineto",
          type: "POST",
          data: {id: id}
        },
        //hay que poner la misma cantidad de columnas y tambien en el html
        columns: [
          { data: "fecha" },
          { data: "hora" },
          { data: "semana" },
          { data: "vacuna" },
          { data: "dosis" }, 
          
        ],
    
        language: {
          rows: "%d fila seleccionada",
          processing: "Tratamiento en curso...",
          search: "Buscar&nbsp;:",
          lengthMenu: "Agrupar en _MENU_ items",
          info: "Mostrando los item (_START_ al _END_) de un total _TOTAL_ items",
          infoEmpty: "No existe datos.",
          infoFiltered: "(filtrado de _MAX_ elementos en total)",
          infoPostFix: "",
          loadingRecords: "Cargando...",
          zeroRecords: "No se encontro resultados en tu busqueda",
          emptyTable: "No hay datos disponibles en la tabla",
          paginate: {
            first: "Primero",
            previous: "Anterior",
            next: "Siguiente",
            last: "Ultimo",
          },
          select: {
            rows: "%d fila seleccionada",
          },
          aria: {
            sortAscending: ": active para ordenar la columa en orden ascendente",
            sortDescending: ": active para ordenar la columna en orden descendente",
          },
        },
        select: true,
        responsive: "true",
        dom: "Bfrtilp",
        buttons: [
          {
            extend: "excelHtml5",
            text: "Excel",
            titleAttr: "Exportar a Excel",
            className: "btn btn-success greenlover",
          },
          {
            extend: "pdfHtml5",
            text: "PDF",
            titleAttr: "Exportar a PDF",
            className: "btn btn-danger redfule",
          },
          {
            extend: "print",
            text: "Imprimir",
            titleAttr: "Imprimir",
            className: "btn btn-primary azuldete",
          },
        ],
        order: [[0, "ASC"]],
      });
    
    });
  </script>
