<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">
            <i class="fa fa-list"></i> Cerdos muertos
          </h1>
        </div>
  
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/Admin">Inicio</a></li>
            <li class="breadcrumb-item active">Cerdos muertos</li>
          </ol>
        </div>
      </div>
    </div>
  
    <section class="content">
      <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="card card-dark">
                  <div class="card-header">
                    <h3 id="unir_texto" class="card-title"> Listado de cerdo muertos</h3>
                  </div>
      
                  <div class="card-body">
                    <div class="row">
    
                      <div class="form-group col-lg-12 col-12">
 
                        <div class="row">
                      
                          <div class="form-group col-lg-12 col-12">
    
                            <table
                            id="tabla_muertes_cerdo"
                            class="table table-display table-hover responsive nowrap text-center"
                            style="width: 100%" >
                            <thead>
                              <tr> 
                              
                                <th>Cerdo</th>
                                <th>Fecha y hora muerte</th>
                                <th>Semana</th> 
                                <th>Motivo muerte</th> 
                                <th>Fecha y hora registro</th> 
                              </tr>
                            </thead>

                            <tbody>

                              {% for c in data.muertos %}
    
                              <tr>                          
                                  <td> {{c[1]}} </td>
                                  <td> {{c[2]}} -  {{c[4]}}   </td>
                                  <td> {{c[5]}}  </td>
                                  <td> {{c[3]}}  </td>
                                  <td> {{c[6]}} - {{c[7]}} </td>   

                              {% endfor %}
    
                            </tbody>
        
                            <tfoot>
                              <tr> 
                                
                                  <th>Cerdo</th>
                                  <th>Fecha y hora muerte</th>
                                  <th>Semana</th> 
                                  <th>Motivo muerte</th> 
                                  <th>Fecha y hora registro</th> 
                              </tr>
                            </tfoot>
                             </table>

                          </div>
        
                        </div>

                        </div>
    
                    </div>
                  </div>
                </div>
            </div>
            
        </div>

    </section>
  </div>
  
<script src="static/js/cerdos.js"></script> 

<script>  
    $("#tabla_muertes_cerdo").DataTable({
      language: {
        rows: "%d fila seleccionada",
        processing: "Tratamiento en curso...",
        search: "Buscar&nbsp;:",
        lengthMenu: "Agrupar en _MENU_ items",
        info: "Mostrando los item (_START_ al _END_) de un total _TOTAL_ items",
        infoEmpty: "No existe datos.",
        infoFiltered: "(filtrado de _MAX_ elementos en total)",
        infoPostFix: "",
        loadingRecords: "Cargando...",
        zeroRecords: "No se encontro resultados en tu busqueda",
        emptyTable: "No hay datos disponibles en la tabla",
        paginate: {
          first: "Primero",
          previous: "Anterior",
          next: "Siguiente",
          last: "Ultimo",
        },
        select: {
          rows: "%d fila seleccionada",
        },
        aria: {
          sortAscending: ": active para ordenar la columa en orden ascendente",
          sortDescending: ": active para ordenar la columna en orden descendente",
        },
      },
    });
</script>
  