<style>
    .contennidor {
        background: gray;
        min-height: 100vh;
    }
</style>

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">
            <i class="fa fa-file"></i> Informe de vacunación y desparasitación
          </h1>
        </div>
  
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/Admin">Inicio</a></li>
            <li class="breadcrumb-item active">Informe de vacunac</li>
          </ol>
        </div>
      </div>
    </div>
  
    <section class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card card-info">
                    <div class="card-header">
                      <h3 id="unir_texto" class="card-title"> Informe de cerdos </h3>
                    </div>
        
                    <div class="card-body">
                        <div class="row">

                            <div class="form-group col-lg-12 col-12">

                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Informe de vacunación</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Informe de desparasitación</a>
                                    </li>  
                                </ul>
                                <div class="tab-content" id="pills-tabContent">

                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                        <div class="row">

                                            <div class="form-group col-lg-6 col-6 text-center">
                                                <label for="galpon_cerdo">Seleccione galpón:</label>
                                                <select class="form-control galpon_cerdo" style="width: 100%" id="galpon_cerdo">
                                                    <option value="0">--- Seleccione galpón ---</option>    
                                                    {% for datas in data.galpon %}
                                                    <option value="{{datas[0]}}">Número: {{datas[2]}} - Galpón: {{datas[1]}} - Fin: {{datas[4]}} </option>
                                                    {% endfor %}
                                                </select> 
                                              </div>    
              
                                              <div class="form-group col-lg-6 col-6 text-center espiner_cerdo">
                                                  <label for="cerdo_galpon">Seleccione un cerdo:</label>
                                                  <select class="form-control cerdo_galpon" style="width: 100%" id="cerdo_galpon"> </select> 
                                              </div> 
                                            
                                            <div class="form-group col-lg-12 col-2" style="text-align: center;">
                                                <label>Vacunas semanales</label>
                                                <center>
                                                    <iframe width="100%" height="100%" class="contennidor" id="iframe_vacunacion"></iframe>
                                                </center>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>

                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    
                                        <div class="row">

                                            <div class="form-group col-lg-6 col-6 text-center">
                                                <label for="galpon_cerdo_d">Seleccione galpón:</label>
                                                <select class="form-control galpon_cerdo_d" style="width: 100%" id="galpon_cerdo_d">
                                                    <option value="0">--- Seleccione galpón ---</option>    
                                                    {% for datas in data.galpon %}
                                                    <option value="{{datas[0]}}">Número: {{datas[2]}} - Galpón: {{datas[1]}} - Fin: {{datas[4]}} </option>
                                                    {% endfor %}
                                                </select> 
                                              </div>    
              
                                              <div class="form-group col-lg-6 col-6 text-center espiner_cerdo_d">
                                                  <label for="cerdo_galpon_d">Seleccione un cerdo:</label>
                                                  <select class="form-control cerdo_galpon_d" style="width: 100%" id="cerdo_galpon_d"> </select> 
                                              </div> 
                                            
                                            <div class="form-group col-lg-12 col-2" style="text-align: center;">
                                                <label>Desaparasitantes semanales</label>
                                                <center>
                                                    <iframe width="100%" height="100%" class="contennidor" id="iframe_desparacitantes"></iframe>
                                                </center>
                                            </div>
                                        
                                        </div>

                                    </div>
                                
                                </div> 
                            
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
  
<script> 

    $(".galpon_cerdo").select2();
    $(".cerdo_galpon").select2();
    $(".galpon_cerdo_d").select2();
    $(".cerdo_galpon_d").select2();
  
    $("#galpon_cerdo").on("change", function(){
      var id = $(this).val();
      
      if(id == 0){
        return false;
      }
  
      $(".espiner_cerdo").LoadingOverlay("show");
      $.ajax({
        url: "/galpon/traer_cerdo_dentro_galpon",
          type: "POST",
          data: {
              id: id
          },
      }).done(function(data) { 
          $("#cerdo_galpon").empty();
          var cadena = "<option value='0'>--- Seleccione cerdo ---</option>";
          if (data.length > 0) {
            $(".espiner_cerdo").LoadingOverlay("hide");
              //bucle para extraer los datos del rol
              for (var i = 0; i < data.length; i++) {
                  cadena += "<option value='" + data[i][1] + "'> " + data[i][2] + " - " + data[i][4] + " - " + data[i][5] + " - " + data[i][6] + " Kg </option>";
              }
              //aqui concadenamos al id del select
              $("#cerdo_galpon").html(cadena);
          } else {
              $(".espiner_cerdo").LoadingOverlay("hide");
              cadena += "<option value='0'>No hay cerdo</option>";
              $("#cerdo_galpon").html(cadena); 
          }
      });
    });

    $("#cerdo_galpon").on("change", function(){
        var id = $(this).val();
        
        if(id == 0){
          return false;
        }
        var ifrm = document.getElementById("iframe_vacunacion");
        ifrm.setAttribute("src", "/reporte/informa_vacunas_cerdo/"+ id +"");
    });

    //////////////
    $("#galpon_cerdo_d").on("change", function(){
        var id = $(this).val();
        
        if(id == 0){
          return false;
        }
    
        $(".espiner_cerdo_d").LoadingOverlay("show");
        $.ajax({
          url: "/galpon/traer_cerdo_dentro_galpon",
            type: "POST",
            data: {
                id: id
            },
        }).done(function(data) { 
            $("#cerdo_galpon_d").empty();
            var cadena = "<option value='0'>--- Seleccione cerdo ---</option>";
            if (data.length > 0) {
              $(".espiner_cerdo_d").LoadingOverlay("hide");
                //bucle para extraer los datos del rol
                for (var i = 0; i < data.length; i++) {
                    cadena += "<option value='" + data[i][1] + "'> " + data[i][2] + " - " + data[i][4] + " - " + data[i][5] + " - " + data[i][6] + " Kg </option>";
                }
                //aqui concadenamos al id del select
                $("#cerdo_galpon_d").html(cadena);
            } else {
                $(".espiner_cerdo_d").LoadingOverlay("hide");
                cadena += "<option value='0'>No hay cerdo</option>";
                $("#cerdo_galpon_d").html(cadena); 
            }
        });
    });

    $("#cerdo_galpon_d").on("change", function(){
        var id = $(this).val();
        
        if(id == 0){
          return false;
        }
        var ifrm = document.getElementById("iframe_desparacitantes");
        ifrm.setAttribute("src", "/reporte/informa_desparacitantes_cerdo/"+ id +"");
    });
</script>
  